card-inner.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-payout-cards.js"></script>
    <script>
      //- $(document).ready(function() {
      //- $('input[name="daterange"]').daterangepicker(
      //-   { 
      //-     format: 'YYYY-MM-DD',
      //-     startDate: '2013-01-01',
      //-     endDate: '2016-12-31',
      //-     applyClass: 'btn-primary',
      //-     opens: 'left'
      //-   }
      //- );
      //- });
      $(function() {
      
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
      
        $('#reportrange').daterangepicker({
            format: 'MM/DD/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2015',
            dateLimit: { days: 60 },
            //- showDropdowns: true,
            //- showWeekNumbers: true,
            //- timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
      });
      
    </script>
  </head>
  <body ng-controller="MyCtrl3" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-personal-information"></i>Personal Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-mobile-phone"></i>Mobile Phone</a></li>
                      <li><a href="company-details.html"><i class="icon i-id-information"></i>Id Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>Dashboard</a></li>
            <li class="active"><a href="cards.html"><i class="icon i-cards-i"></i>Cards</a></li>
            <li><a href="send-money.html"><i class="icon i-send-i"></i>Send Money</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
            <li><a href="social.html"><i class="icon i-social-i"></i>Social</a></li>
            <li><a href="log-out.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="page-title">My Payroll Card</h2>
            </div>
            <div class="col-sm-6">
              <div class="btn-group_horizontal btn-group_right"><a href="cards.html" class="btn btn-primary ngdialog-button ngdialog-button-secondary"><i class="icon i-arrow-back"> </i>Back</a></div>
            </div>
          </div>
          <div class="min-section min-section__br-bg min-section__pd">
            <div class="main-filter-block">
              <form class="form-horizontal main-filter-block__card-inner">
                <div class="row">
                  <div class="col-sm-6 col-md-12 col-lg-6">
                    <div class="row">
                      <div class="col-lg-6 col-md-4 main-filter-block__card-inner_col">
                        <div class="form-group form-group-sm card-form-group-edit js-form-group-edit form-group-edit">
                          <label for="exampleInputAmount" class="col-lg-12 main-filter-block__card-inner_col card-name">Card Name:</label>
                          <div class="col-lg-12 main-filter-block__card-inner_col">
                            <div class="input-group">
                              <input id="exampleInputAmount" type="text" placeholder="Name" value="My Payroll Card" disabled class="form-control js-input-ds">
                              <div class="input-group-addon btn-edit-name js-btn-edit-input">
                                <div class="icon i-edit-i"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-4 main-filter-block__card-inner_col">
                        <div class="form-group card-info">
                          <div class="col-lg-12"><span class="card-name">Number:</span></div>
                          <div class="col-lg-12 clearfix"><strong class="card-name__value">5328 **** **** 0402</strong></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-12 col-lg-6">
                    <div class="row">
                      <div class="col-lg-5 col-md-4 main-filter-block__card-inner_col">
                        <div class="form-group card-info">
                          <div class="col-lg-12"><span class="card-name">Type:</span></div>
                          <div class="col-lg-12"><strong class="card-name__value">Primary</strong></div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 main-filter-block__card-inner_col">
                        <div class="form-group card-info">
                          <div class="col-lg-12"><span class="card-name">Balance:</span></div>
                          <div class="col-lg-12"><strong class="card-name__value">$50,500.05</strong></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 main-filter-block__card-inner_col">
                        <div class="form-group card-info">
                          <div class="col-lg-12"><span class="card-name">Status:</span></div>
                          <div class="col-lg-12"><strong class="card-name__value">Expired</strong>
                            <div class="user-status user-status_new-reg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="clearfix">
              <div role="tabpanel">
                <!-- Nav tabs-->
                <div class="tabs__in-min-section">
                  <ul role="tablist" class="nav nav-tabs nav-tub_custom">
                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Card details</a></li>
                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Balance</a></li>
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Transactions</a></li>
                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Lock Card</a></li>
                  </ul>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div id="tab1" role="tabpanel" class="tab-pane active fade in">
                    <div class="tabpanel_inner">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="info-list">
                            <li class="info-list__item">
                              <div class="info-list__label">Name:</div>
                              <div class="info-list__value">My Payroll Card</div>
                            </li>
                            <li class="info-list__item">
                              <div class="info-list__label">Type:</div>
                              <div class="info-list__value">Primary</div>
                            </li>
                            <li class="info-list__item">
                              <div class="info-list__label">Number:</div>
                              <div class="info-list__value">5328 **** **** 0402</div>
                            </li>
                            <li class="info-list__item">
                              <div class="info-list__label">Status:</div>
                              <div class="info-list__value">
                                 
                                Active
                                <div class="user-status user-status_new-reg"></div>
                              </div>
                            </li>
                            <li class="info-list__item">
                              <div class="info-list__label">Expiration Date:</div>
                              <div class="info-list__value">15/06/2015</div>
                            </li>
                            <li class="info-list__item">
                              <div class="info-list__label">Activation Date:</div>
                              <div class="info-list__value">15/06/2012</div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="tab2" role="tabpanel" class="tab-pane fade">
                    <div class="row">
                      <div class="col-lg-9">
                        <div class="row">
                          <div class="col-md-6">
                            <ul class="info-list">
                              <li class="info-list__item">
                                <div class="info-list__label"> <strong>Balance</strong></div>
                              </li>
                              <li class="info-list__item">
                                <div class="info-list__label">Available Balance:</div>
                                <div class="info-list__value">$26.25</div>
                              </li>
                              <li class="info-list__item">
                                <div class="info-list__label">Blocked Amount:</div>
                                <div class="info-list__value">$10.15</div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-6">
                            <ul class="info-list">
                              <li class="info-list__item">
                                <div class="info-list__label"> <strong>Last Transaction Details</strong></div>
                              </li>
                              <li class="info-list__item">
                                <div class="info-list__label">Date:</div>
                                <div class="info-list__value">15/06/2015 12:15 PM</div>
                              </li>
                              <li class="info-list__item">
                                <div class="info-list__label">Amount:</div>
                                <div class="info-list__value">-$10.00</div>
                              </li>
                              <li class="info-list__item">
                                <div class="info-list__label">Description:</div>
                                <div class="info-list__value">Card transfer to 5283 **** **** 4539</div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="tab3" role="tabpanel" class="tab-pane fade">
                    <form class="form-horizontal">
                      <div class="row">
                        <div class="col-lg-5">
                          <div class="form-group">
                            <label class="control-label col-lg-3">Data range:</label>
                            <div class="col-lg-9">
                              <div class="input-ng-datepicker clearfix"><span class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
                                <div id="reportrange" class="pull-right form-control"><span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div ng-grid="gridOptions1" class="gridStyle"></div>
                  </div>
                  <div id="tab4" role="tabpanel" class="tab-pane fade">
                    <div class="tabpanel_inner-width">
                      <div class="form-group">
                        <p>You are about to lock the card.<br>Once locked you will be unable to use the card.</p>
                      </div>
                      <div class="form-group">
                        <P>Please select the lock type below:</P>
                      </div>
                      <form action="">
                        <div class="form-group">
                          <div class="form-group">
                            <div class="radio">
                              <label>
                                <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">Option one is this and that—be sure to include why it's great
                              </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="radio">
                              <label>
                                <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">Option two can be something else and selecting it will deselect option one
                              </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="radio">
                              <label>
                                <input id="optionsRadios3" type="radio" name="optionsRadios" value="option3">Option three is disabled
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="btn-group_horizontal">
                          <button type="button" ng-click="lockCard()" class="btn btn-primary">Yes, Lock Card</button>
                          <button type="button" class="btn btn-default">No, Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/card-inner.jade
extends ../layouts/default
block head
- pageTitle = 'Prego Cards';
block link
   -var selected = "cards";


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl3";


block append js
  script(src='js/ng-payout-cards.js')
  script.
      //- $(document).ready(function() {
      //- $('input[name="daterange"]').daterangepicker(
      //-   { 
      //-     format: 'YYYY-MM-DD',
      //-     startDate: '2013-01-01',
      //-     endDate: '2016-12-31',
      //-     applyClass: 'btn-primary',
      //-     opens: 'left'
      //-   }
      //- );
      //- });
      $(function() {
 
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
     
        $('#reportrange').daterangepicker({
            format: 'MM/DD/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2015',
            dateLimit: { days: 60 },
            //- showDropdowns: true,
            //- showWeekNumbers: true,
            //- timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
      });

block content
  .container
   .row
      .col-sm-6
        h2.page-title My Payroll Card
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          a.btn.btn-primary.ngdialog-button.ngdialog-button-secondary(href="cards.html")
            i.icon.i-arrow-back 
            | Back
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal.main-filter-block__card-inner
          .row
            .col-sm-6.col-md-12.col-lg-6
              .row
                .col-lg-6.col-md-4.main-filter-block__card-inner_col
                  .form-group.form-group-sm.card-form-group-edit.js-form-group-edit.form-group-edit
                    label(for='exampleInputAmount').col-lg-12.main-filter-block__card-inner_col.card-name Card Name:
                    .col-lg-12.main-filter-block__card-inner_col
                      .input-group
                        input#exampleInputAmount.form-control.js-input-ds(type='text', placeholder='Name', value="My Payroll Card", disabled)
                        .input-group-addon.btn-edit-name.js-btn-edit-input
                          .icon.i-edit-i
                .col-lg-6.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Number:
                    .col-lg-12.clearfix
                      strong.card-name__value 5328 **** **** 0402
            .col-sm-6.col-md-12.col-lg-6
              .row
                .col-lg-5.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Type:
                    .col-lg-12
                      strong.card-name__value Primary
                .col-lg-4.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Balance:
                    .col-lg-12
                      strong.card-name__value $50,500.05
                .col-lg-3.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Status:
                    .col-lg-12
                      strong.card-name__value Expired
                      .user-status.user-status_new-reg
      .clearfix
        div(role='tabpanel')
          // Nav tabs
          .tabs__in-min-section
            ul.nav.nav-tabs.nav-tub_custom(role='tablist')
              li.active(role='presentation')
                a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') Card details
              li(role='presentation')
                a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') Balance
              li(role='presentation')
                a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') Transactions
              li(role='presentation')
                a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') Lock Card

          // Tab panes
          .tab-content
            #tab1.tab-pane.active.fade.in(role='tabpanel')
              .tabpanel_inner
                .row
                  .col-md-6
                    ul.info-list
                      li.info-list__item
                        .info-list__label Name:
                        .info-list__value My Payroll Card
                      li.info-list__item
                        .info-list__label Type:
                        .info-list__value Primary
                      li.info-list__item
                        .info-list__label Number:
                        .info-list__value 5328 **** **** 0402
                      li.info-list__item
                        .info-list__label Status:
                        .info-list__value 
                          | Active
                          .user-status.user-status_new-reg
                      li.info-list__item
                        .info-list__label Expiration Date:
                        .info-list__value 15/06/2015
                      li.info-list__item
                        .info-list__label Activation Date:
                        .info-list__value 15/06/2012

            #tab2.tab-pane.fade(role='tabpanel')
              .row
                .col-lg-9
                  .row
                    .col-md-6
                      ul.info-list
                        li.info-list__item
                          .info-list__label 
                            strong Balance
                        li.info-list__item
                          .info-list__label Available Balance:
                          .info-list__value $26.25
                        li.info-list__item
                          .info-list__label Blocked Amount:
                          .info-list__value $10.15
                        
                    .col-md-6
                      ul.info-list
                        li.info-list__item
                          .info-list__label 
                            strong Last Transaction Details
                        li.info-list__item
                          .info-list__label Date:
                          .info-list__value 15/06/2015 12:15 PM
                        li.info-list__item
                          .info-list__label Amount:
                          .info-list__value -$10.00
                        li.info-list__item
                          .info-list__label Description:
                          .info-list__value Card transfer to 5283 **** **** 4539
                      
             #tab3.tab-pane.fade(role='tabpanel')
              form.form-horizontal
                .row
                  .col-lg-5
                    .form-group
                      label.control-label.col-lg-3 Data range:
                      .col-lg-9
                        include ../blocks/datepicer

              .gridStyle(ng-grid="gridOptions1")
              //- include ../blocks/grid-empty

            #tab4.tab-pane.fade(role='tabpanel')
              .tabpanel_inner-width
                .form-group
                  p You are about to lock the card.
                    br
                    | Once locked you will be unable to use the card.
                .form-group
                  P Please select the lock type below:

                form(action="")
                  .form-group
                    .form-group
                      .radio
                        label
                          input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                          | Option one is this and that—be sure to include why it's great
                    .form-group
                      .radio
                        label
                          input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                          | Option two can be something else and selecting it will deselect option one
                    .form-group
                      .radio
                        label
                          input#optionsRadios3(type='radio', name='optionsRadios', value='option3')
                          | Option three is disabled
                  .btn-group_horizontal
                    button.btn.btn-primary(type='button', ng-click="lockCard()") Yes, Lock Card
                    button.btn.btn-default(type='button') No, Cancel
