templates/pages/check-card-modal.jade
.modal-content
  form.form-horizontal
    .modal-header
      h4#checkCardLabel.modal-title Select Card
    .modal-body

      ul.list_style.card-list_style
        li.card-checked
          .modal-card-item__wr
            .modal-card-item__text
              h3.item__title Card Name
              .item__text 5328 **** **** 0402
              .item__text $35,050.03
            .modal-card-item__checkbox-wr
              input(type="checkbox", value="", checked)
        li
          .modal-card-item__wr
            .modal-card-item__text
              h3.item__title Card Name
              .item__text 5328 **** **** 0402
              .item__text $35,050.03
            .modal-card-item__checkbox-wr
              input(type="checkbox", value="")
        li
          .modal-card-item__wr
            .modal-card-item__text
              h3.item__title Card Name
              .item__text 5328 **** **** 0402
              .item__text $35,050.03
            .modal-card-item__checkbox-wr
              input(type="checkbox", value="")

      .btn-group_horizontal.btn-group_right
        button.btn.btn-primary(type='button') Select
        button.btn.btn-default(type='button') Cancel

check-card-modal.html

<div class="modal-content">
  <form class="form-horizontal">
    <div class="modal-header">
      <h4 id="checkCardLabel" class="modal-title">Select Card</h4>
    </div>
    <div class="modal-body">
      <ul class="list_style card-list_style">
        <li class="card-checked">
          <div class="modal-card-item__wr">
            <div class="modal-card-item__text">
              <h3 class="item__title">Card Name</h3>
              <div class="item__text">5328 **** **** 0402</div>
              <div class="item__text">$35,050.03</div>
            </div>
            <div class="modal-card-item__checkbox-wr">
              <input type="checkbox" value="" checked="checked"/>
            </div>
          </div>
        </li>
        <li>
          <div class="modal-card-item__wr">
            <div class="modal-card-item__text">
              <h3 class="item__title">Card Name</h3>
              <div class="item__text">5328 **** **** 0402</div>
              <div class="item__text">$35,050.03</div>
            </div>
            <div class="modal-card-item__checkbox-wr">
              <input type="checkbox" value=""/>
            </div>
          </div>
        </li>
        <li>
          <div class="modal-card-item__wr">
            <div class="modal-card-item__text">
              <h3 class="item__title">Card Name</h3>
              <div class="item__text">5328 **** **** 0402</div>
              <div class="item__text">$35,050.03</div>
            </div>
            <div class="modal-card-item__checkbox-wr">
              <input type="checkbox" value=""/>
            </div>
          </div>
        </li>
      </ul>
      <div class="btn-group_horizontal btn-group_right">
        <button type="button" class="btn btn-primary">Select</button>
        <button type="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>
