companies.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-personal-information"></i>Personal Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-mobile-phone"></i>Mobile Phone</a></li>
                      <li><a href="company-details.html"><i class="icon i-id-information"></i>Id Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>Dashboard</a></li>
            <li><a href="cards.html"><i class="icon i-cards-i"></i>Cards</a></li>
            <li><a href="send-money.html"><i class="icon i-send-i"></i>Send Money</a></li>
            <li class="active"><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
            <li><a href="social.html"><i class="icon i-social-i"></i>Social</a></li>
            <li><a href="log-out.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="page-title">My Companies</h2>
            </div>
            <div class="col-sm-6">
              <div class="btn-group_horizontal btn-group_right">
                <button type="button" ng-click="joinCompany()" class="btn btn-primary ngdialog-button ngdialog-button-secondary">join company</button>
              </div>
            </div>
          </div>
          <div class="min-section min-section__br-bg min-section__pd">
            <ul class="list_style">
              <li>
                <ul class="min-list-info">
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Name:</div>
                    <div class="min-list-info__value">ASDF Entertainment</div>
                  </li>
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Company ID:</div>
                    <div class="min-list-info__value">150.25.13.400</div>
                  </li>
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Address:</div>
                    <div class="min-list-info__value">
                       
                      S Walker Ave Tulsa 256, <span>Address 2</span><br>52446 OKLAHOMA CITY, UNITED STATES
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="min-list-info">
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Name:</div>
                    <div class="min-list-info__value">ASDF Entertainment</div>
                  </li>
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Company ID:</div>
                    <div class="min-list-info__value">150.25.13.400</div>
                  </li>
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Address:</div>
                    <div class="min-list-info__value">
                       
                      S Walker Ave Tulsa 256, <span>Address 2</span><br>52446 OKLAHOMA CITY, UNITED STATES
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="min-list-info">
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Name:</div>
                    <div class="min-list-info__value">ASDF Entertainment</div>
                  </li>
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Company ID:</div>
                    <div class="min-list-info__value">150.25.13.400</div>
                  </li>
                  <li class="min-list-info__item">
                    <div class="min-list-info__label">Address:</div>
                    <div class="min-list-info__value">
                       
                      S Walker Ave Tulsa 256, <span>Address 2</span><br>52446 OKLAHOMA CITY, UNITED STATES
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/companies.jade
extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "companies";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-companies.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title My Companies
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary.ngdialog-button.ngdialog-button-secondary(type='button', ng-click="joinCompany()")
            | join company
    .min-section.min-section__br-bg.min-section__pd
      ul.list_style
        //- li 
        //-   h3.item__title ASDF Entertainment
        //-     span Joined
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        //- li 
        //-   h3.item__title Ins Corporation
        //-     span Joined
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        //- li 
        //-   h3.item__title ASDF Entertainment
        //-     span Joined
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        //- li 
        //-   h3.item__title ASDF Entertainment
        //-     span Awaiting Canfirmation
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        li
          ul.min-list-info
            li.min-list-info__item
              .min-list-info__label Name:
              .min-list-info__value ASDF Entertainment
            li.min-list-info__item
              .min-list-info__label Company ID:
              .min-list-info__value 150.25.13.400
            li.min-list-info__item
              .min-list-info__label Address:
              .min-list-info__value 
                | S Walker Ave Tulsa 256, 
                span Address 2
                br 
                | 52446 OKLAHOMA CITY, UNITED STATES
        li
          ul.min-list-info
            li.min-list-info__item
              .min-list-info__label Name:
              .min-list-info__value ASDF Entertainment
            li.min-list-info__item
              .min-list-info__label Company ID:
              .min-list-info__value 150.25.13.400
            li.min-list-info__item
              .min-list-info__label Address:
              .min-list-info__value 
                | S Walker Ave Tulsa 256, 
                span Address 2
                br 
                | 52446 OKLAHOMA CITY, UNITED STATES
        li
          ul.min-list-info
            li.min-list-info__item
              .min-list-info__label Name:
              .min-list-info__value ASDF Entertainment
            li.min-list-info__item
              .min-list-info__label Company ID:
              .min-list-info__value 150.25.13.400
            li.min-list-info__item
              .min-list-info__label Address:
              .min-list-info__value 
                | S Walker Ave Tulsa 256, 
                span Address 2
                br 
                | 52446 OKLAHOMA CITY, UNITED STATES
