templates/pages/index.jade
extends ../layouts/default

block head
- pageTitle = 'Prego Company';

block content
  .container
    h2.page-title Dashboard


    section.info-block.min-section.min-section__br-bg.min-section__pd.clearfix.alert.fade.in(role='alert')
      .section_btn-bottomm-right-wr
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
        header.min-section__header
          h3.min-section__title WELCOME TO YOUR DASHBOARD
        .row
          .col-lg-10
            .info-block__text
              p With this website portal, you will be able to manage your card accounts and send money between your multiple accounts with an easy and safe way of cutting money transfer costs.
              p Take a moment to understand how to portal works, and we will do our best to guide you with instructions throughout the portal for you to have a better understanding and performance.
              p This section is your dashboard. It is the quick access point for most of the services that you can explore the website.
        a(href="").btn.btn-primary.btn_bottom-right I UNDERSTAND

    .row.dysplay-tb
      .col-md-7.col-lg-8.dysplay-tb-c.dysplay-tb-c-l
        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
            h3.min-section__title CARDS
          .min-section__content-wr
            .dash__card-list
              .min-section
                a(href="card-inner.html").one-card
                  .min-section__br-bg.min-section__pd.info-block
                    .more &#62;
                    .one-card__content
                      .row
                        .col-sm-8
                          h3.item__title Card Name
                            span Supplementary
                        .col-sm-4.item__text_right
                          | Expired
                          .user-status.user-status_error
                      .item__text 5328 **** **** 0402
                      .row
                        .col-sm-5
                          .item__text Expires 14/17
                        .col-sm-7
                          .item__text.item__text_right
                            | Balance: 
                            span USD $50,000.05

              .min-section
                a(href="card-inner.html").one-card
                  .min-section__br-bg.min-section__pd.info-block
                    .more &#62;
                    .one-card__content
                      .row
                        .col-sm-8
                          h3.item__title Card Name
                            span Supplementary
                        .col-sm-4.item__text_right
                          | Locked
                          .user-status.user-status_default
                      .item__text 5328 **** **** 0402
                      .row
                        .col-sm-5
                          .item__text Expires 14/17
                        .col-sm-7
                          .item__text.item__text_right
                            | Balance: 
                            span USD $50,000.05

        .row
          .col-sm-6.min-section
            a(href="send-money.html").btn.btn-lg.btn-block.btn-primary send money
          .col-sm-6.min-section
            a(href="").btn.btn-lg.btn-block.btn-primary lock card

        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
            h3.min-section__title LATEST TRANSACTIONS
          .min-section__content-wr
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Payout From CX5YN001
                .col-sm-7
                  .item__text.item__text_right
                    | $890.00
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $35,050.03
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234

      .col-md-5.col-lg-4.news-and-updates__block.dysplay-tb-c.dysplay-tb-c-r.min-section__br-bg_primary-light
        section.min-section__pd.section-z-index
          header.min-section__header
            h3.min-section__title NEWS & UPDATE
          .news-and-updates__list-wr
            ul.news-and-updates__list
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Mobile Update Verson 3.8
                  .news-and-updates__item-text
                    p New Version of PregoDashboard now can be updated directly from your device.
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title PregoPay
                  .news-and-updates__item-text
                    p A digital wallet system is coming to your dashboard soon. To learn More: 
                    a(href="") http://pregopay.goprego.com/
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Insurance Card
                  .news-and-updates__item-text
                    p Travel Insurance that links into your PregoAccount, learn more and order here: 
                      a(href="") http://pregopay.goprego.com/
        footer.min-section__footer.text-center
          a(href="").min-section__footer-link SEE ALL NEWS & UPDATES
          //- footer.min-section__footer.text-center
          //-   a(href="").min-section__footer-link SEE ALL NEWS & UPDATES

index.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
  </head>
  <body class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-personal-information"></i>Personal Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-mobile-phone"></i>Mobile Phone</a></li>
                      <li><a href="company-details.html"><i class="icon i-id-information"></i>Id Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li class="active"><a href="index.html"><i class="icon i-dash-i"></i>Dashboard</a></li>
            <li><a href="cards.html"><i class="icon i-cards-i"></i>Cards</a></li>
            <li><a href="send-money.html"><i class="icon i-send-i"></i>Send Money</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
            <li><a href="social.html"><i class="icon i-social-i"></i>Social</a></li>
            <li><a href="log-out.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <h2 class="page-title">Dashboard</h2>
          <section role="alert" class="info-block min-section min-section__br-bg min-section__pd clearfix alert fade in">
            <div class="section_btn-bottomm-right-wr">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
              <header class="min-section__header">
                <h3 class="min-section__title">WELCOME TO YOUR DASHBOARD</h3>
              </header>
              <div class="row">
                <div class="col-lg-10">
                  <div class="info-block__text">
                    <p>With this website portal, you will be able to manage your card accounts and send money between your multiple accounts with an easy and safe way of cutting money transfer costs.</p>
                    <p>Take a moment to understand how to portal works, and we will do our best to guide you with instructions throughout the portal for you to have a better understanding and performance.</p>
                    <p>This section is your dashboard. It is the quick access point for most of the services that you can explore the website.</p>
                  </div>
                </div>
              </div><a href="" class="btn btn-primary btn_bottom-right">I UNDERSTAND</a>
            </div>
          </section>
          <div class="row dysplay-tb">
            <div class="col-md-7 col-lg-8 dysplay-tb-c dysplay-tb-c-l">
              <section class="min-section min-section__br-bg min-section__pd">
                <header class="min-section__header">
                  <h3 class="min-section__title">CARDS</h3>
                </header>
                <div class="min-section__content-wr">
                  <div class="dash__card-list">
                    <div class="min-section"><a href="card-inner.html" class="one-card">
                        <div class="min-section__br-bg min-section__pd info-block">
                          <div class="more">&#62;</div>
                          <div class="one-card__content">
                            <div class="row">
                              <div class="col-sm-8">
                                <h3 class="item__title">Card Name<span>Supplementary</span></h3>
                              </div>
                              <div class="col-sm-4 item__text_right">Expired
                                <div class="user-status user-status_error"></div>
                              </div>
                            </div>
                            <div class="item__text">5328 **** **** 0402</div>
                            <div class="row">
                              <div class="col-sm-5">
                                <div class="item__text">Expires 14/17</div>
                              </div>
                              <div class="col-sm-7">
                                <div class="item__text item__text_right">Balance: <span>USD $50,000.05</span></div>
                              </div>
                            </div>
                          </div>
                        </div></a></div>
                    <div class="min-section"><a href="card-inner.html" class="one-card">
                        <div class="min-section__br-bg min-section__pd info-block">
                          <div class="more">&#62;</div>
                          <div class="one-card__content">
                            <div class="row">
                              <div class="col-sm-8">
                                <h3 class="item__title">Card Name<span>Supplementary</span></h3>
                              </div>
                              <div class="col-sm-4 item__text_right">Locked
                                <div class="user-status user-status_default"></div>
                              </div>
                            </div>
                            <div class="item__text">5328 **** **** 0402</div>
                            <div class="row">
                              <div class="col-sm-5">
                                <div class="item__text">Expires 14/17</div>
                              </div>
                              <div class="col-sm-7">
                                <div class="item__text item__text_right">Balance: <span>USD $50,000.05</span></div>
                              </div>
                            </div>
                          </div>
                        </div></a></div>
                  </div>
                </div>
              </section>
              <div class="row">
                <div class="col-sm-6 min-section"><a href="send-money.html" class="btn btn-lg btn-block btn-primary">send money</a></div>
                <div class="col-sm-6 min-section"><a href="" class="btn btn-lg btn-block btn-primary">lock card</a></div>
              </div>
              <section class="min-section min-section__br-bg min-section__pd">
                <header class="min-section__header">
                  <h3 class="min-section__title">LATEST TRANSACTIONS</h3>
                </header>
                <div class="min-section__content-wr">
                  <div class="min-section min-section__br-bg min-section__pd">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text">Payout From CX5YN001</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right">$890.00</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text item__text_min item__text_mg-top">01.07.2015 12:34:55</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right item__text_min item__text_mg-top">Ref. No 234234234</div>
                      </div>
                    </div>
                  </div>
                  <div class="min-section min-section__br-bg min-section__pd">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text">Expires 14/17</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right">Balance: <span>USD $35,050.03</span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text item__text_min item__text_mg-top">01.07.2015 12:34:55</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right item__text_min item__text_mg-top">Ref. No 234234234</div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-5 col-lg-4 news-and-updates__block dysplay-tb-c dysplay-tb-c-r min-section__br-bg_primary-light">
              <section class="min-section__pd section-z-index">
                <header class="min-section__header">
                  <h3 class="min-section__title">NEWS & UPDATE</h3>
                </header>
                <div class="news-and-updates__list-wr">
                  <ul class="news-and-updates__list">
                    <li class="news-and-updates__list-item">
                      <div class="news-and-updates__list-item-inner">
                        <h4 class="news-and-updates__item-title">Mobile Update Verson 3.8</h4>
                        <div class="news-and-updates__item-text">
                          <p>New Version of PregoDashboard now can be updated directly from your device.</p>
                        </div>
                      </div>
                    </li>
                    <li class="news-and-updates__list-item">
                      <div class="news-and-updates__list-item-inner">
                        <h4 class="news-and-updates__item-title">PregoPay</h4>
                        <div class="news-and-updates__item-text">
                          <p>A digital wallet system is coming to your dashboard soon. To learn More: </p><a href="">http://pregopay.goprego.com/</a>
                        </div>
                      </div>
                    </li>
                    <li class="news-and-updates__list-item">
                      <div class="news-and-updates__list-item-inner">
                        <h4 class="news-and-updates__item-title">Insurance Card</h4>
                        <div class="news-and-updates__item-text">
                          <p>Travel Insurance that links into your PregoAccount, learn more and order here: <a href="">http://pregopay.goprego.com/</a></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <footer class="min-section__footer text-center"><a href="" class="min-section__footer-link">SEE ALL NEWS & UPDATES</a>
              </footer>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>
