templates/pages/join-company-modal-2.jade
.modal-content
  .modal-header
    h4#JoinCompanyLabel.modal-title company
  .modal-body
    .form-group
      // h3.item__title ASDF Entertainment
      //   span Joined
      // .item-title__id ID 150.25.13.400
      // .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
      ul.min-list-info
        li.min-list-info__item
          .min-list-info__label Name:
          .min-list-info__value ASDF Entertainment
        li.min-list-info__item
          .min-list-info__label Company ID:
          .min-list-info__value 150.25.13.400
        li.min-list-info__item
          .min-list-info__label Address:
          .min-list-info__value 
            | S Walker Ave Tulsa 256, 
            span Address 2
            br 
            | 52446 OKLAHOMA CITY, UNITED STATES

    .btn-group_horizontal.btn-group_right
      button.btn.btn-default(type='button', ng-click="joinCompany4()") search company
      button.btn.btn-primary(type='button', ng-click="joinCompany3()") confirm

join-company-modal-2.html

<div class="modal-content">
  <div class="modal-header">
    <h4 id="JoinCompanyLabel" class="modal-title">company</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <!-- h3.item__title ASDF Entertainment-->
      <!--   span Joined-->
      <!-- .item-title__id ID 150.25.13.400-->
      <!-- .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St-->
      <ul class="min-list-info">
        <li class="min-list-info__item">
          <div class="min-list-info__label">Name:</div>
          <div class="min-list-info__value">ASDF Entertainment</div>
        </li>
        <li class="min-list-info__item">
          <div class="min-list-info__label">Company ID:</div>
          <div class="min-list-info__value">150.25.13.400</div>
        </li>
        <li class="min-list-info__item">
          <div class="min-list-info__label">Address:</div>
          <div class="min-list-info__value">
             
            S Walker Ave Tulsa 256, <span>Address 2</span><br/>52446 OKLAHOMA CITY, UNITED STATES
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-group_horizontal btn-group_right">
      <button type="button" ng-click="joinCompany4()" class="btn btn-default">search company</button>
      <button type="button" ng-click="joinCompany3()" class="btn btn-primary">confirm</button>
    </div>
  </div>
</div>
