join-company-modal-4.html

<div class="modal-content">
  <div class="modal-header"></div>
  <div class="modal-body text-center">
    <div class="form-group">
      <p><img src="img/error-img.png" alt=""/></p>
      <p>The company was not found.</p>
    </div>
    <div class="btn-group_horizontal"><a href="" class="btn btn-primary">Join company</a></div>
  </div>
</div>

templates/pages/join-company-modal-4.jade
.modal-content
  .modal-header
  .modal-body.text-center
    .form-group
      p
        img(src="img/error-img.png", alt="")
      p The company was not found.
    .btn-group_horizontal
      a.btn.btn-primary(href="") Join company
