templates/pages/join-company-modal-3.jade
.modal-content
  .modal-header.text-center
  .modal-body.text-center
    .form-group
      p
        img(src="img/check-img.png", alt="")
      p Your Join Request was sent to ASDF Entertainment!
      p Please stand by for approval.
    .btn-group_horizontal
      a.btn.btn-primary(href="") ок

join-company-modal-3.html

<div class="modal-content">
  <div class="modal-header text-center"></div>
  <div class="modal-body text-center">
    <div class="form-group">
      <p><img src="img/check-img.png" alt=""/></p>
      <p>Your Join Request was sent to ASDF Entertainment!</p>
      <p>Please stand by for approval.</p>
    </div>
    <div class="btn-group_horizontal"><a href="" class="btn btn-primary">ок</a></div>
  </div>
</div>
