join-company-modal.html

<div class="modal-content">
  <form class="form-horizontal">
    <div class="modal-header">
      <h4 id="JoinCompanyLabel" class="modal-title">Join company</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-error has-form-group-error">
        <label for="CompanyNumber" class="control-label col-sm-4">Company ID</label>
        <div class="col-sm-8">
          <input id="CompanyNumber" type="text" name="CompanyNumber" value="" class="form-control"/><span class="help-block help-blok__message"><i class="glyphicon glyphicon-remove"></i>The company was not found.</span>
        </div>
      </div>
      <div class="btn-group_horizontal btn-group_right">
        <button type="button" ng-click="joinCompany2()" class="btn btn-primary">Next</button>
      </div>
    </div>
  </form>
</div>

templates/pages/join-company-modal.jade
.modal-content
  form.form-horizontal
    .modal-header
      h4#JoinCompanyLabel.modal-title Join company
    .modal-body
      .form-group.form-group-error.has-form-group-error
        label.control-label.col-sm-4(for="CompanyNumber") Company ID
        .col-sm-8
          input#CompanyNumber(type='text', name='CompanyNumber', value='').form-control
          span.help-block.help-blok__message
            i.glyphicon.glyphicon-remove
            | The company was not found.
      .btn-group_horizontal.btn-group_right
        button.btn.btn-primary(type='button', ng-click="joinCompany2()") Next
