templates/pages/lock-card-modal.jade
.modal-content
  .modal-header.text-center
  .modal-body.text-center
    .form-group
      p
        img(src="img/question.png", alt="")
      p Are you sure?
    .btn-group_horizontal
      a.btn.btn-primary(href="") yes
      a.btn.btn-default(href="") no

lock-card-modal.html

<div class="modal-content">
  <div class="modal-header text-center"></div>
  <div class="modal-body text-center">
    <div class="form-group">
      <p><img src="img/question.png" alt=""/></p>
      <p>Are you sure?</p>
    </div>
    <div class="btn-group_horizontal"><a href="" class="btn btn-primary">yes</a><a href="" class="btn btn-default">no</a></div>
  </div>
</div>
