profile.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
    <script>
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });
      
    </script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-personal-information"></i>Personal Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-mobile-phone"></i>Mobile Phone</a></li>
                      <li><a href="company-details.html"><i class="icon i-id-information"></i>Id Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li class="active"><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>Dashboard</a></li>
            <li><a href="cards.html"><i class="icon i-cards-i"></i>Cards</a></li>
            <li><a href="send-money.html"><i class="icon i-send-i"></i>Send Money</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
            <li><a href="social.html"><i class="icon i-social-i"></i>Social</a></li>
            <li><a href="log-out.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container loader-bg">
          <div class="loader-wr loader-wr_sb js-minHt">
            <div class="loader-2"><img src="img/loader.svg" alt=""></div>
          </div>
          <h2 class="page-title">account settings</h2>
          <div class="min-section min-section__br-bg min-section__pd">
            <div class="clearfix">
              <div role="tabpanel">
                <!-- Nav tabs-->
                <div class="main-filter-block">
                  <div class="tabs__in-min-section">
                    <ul role="tablist" class="nav nav-tabs nav-tub_custom">
                      <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Personal Information</a></li>
                      <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Phone</a></li>
                      <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">ID Information</a></li>
                      <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Change Password</a></li>
                    </ul>
                  </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div id="tab1" role="tabpanel" class="tab-pane active fade in">
                    <form action="" class="form-horizontal">
                      <div class="account-edit__form-wr">
                        <div class="form-group">
                          <div class="col-lg-12"><strong>Personal details</strong></div>
                        </div>
                        <div class="row">
                          <label class="control-label col-lg-4">Your name</label>
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="form-group__inner col-lg-6">
                                <input type="text" value="" placeholder="First name" class="form-control">
                              </div>
                              <div class="form-group__inner col-lg-6">
                                <input type="text" value="" placeholder="Last name" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <label class="control-label col-lg-4">Date of Brith</label>
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="form-group__inner col-lg-4">
                                <select selectpicker class="form-control">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                              <div class="form-group__inner col-lg-4">
                                <select selectpicker class="form-control">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                              <div class="form-group__inner col-lg-4 has-success has-feedback">
                                <select selectpicker class="form-control">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select><span class="help-block help-blok__message">Success!!!!</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group has-success has-feedback">
                          <label class="control-label col-lg-4">Email</label>
                          <div class="col-lg-8">
                            <input type="email" value="example@mail.ru" class="form-control"><span class="help-block help-blok__message">Success!!!!</span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Gender</label>
                          <div class="col-lg-8">
                            <select selectpicker class="form-control">
                              <option value="0">Male</option>
                              <option value="1">Famale</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Nationality</label>
                          <div class="col-lg-8">
                            <select selectpicker class="form-control">
                              <option value="0">0</option>
                              <option value="1">1</option>
                            </select>
                          </div>
                        </div>
                        <hr class="hr-margin-bottom">
                        <div class="form-group">
                          <div class="col-lg-12"><strong>Contact Details</strong></div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Adress 1</label>
                          <div class="col-lg-8">
                            <input type="text" value="" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Adress 2</label>
                          <div class="col-lg-8">
                            <input type="text" value="" class="form-control">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-8 col-lg-offset-4">
                            <div class="row">
                              <div class="form-group__inner col-lg-4">
                                <input type="text" value="" placeholder="City" class="form-control">
                              </div>
                              <div class="form-group__inner col-lg-4">
                                <input type="text" value="" placeholder="Post Code" class="form-control">
                              </div>
                              <div class="form-group__inner col-lg-4">
                                <input type="text" value="" placeholder="Country" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr class="hr-margin-bottom">
                        <div class="form-group">
                          <div class="col-lg-12"><strong>Shipping Address</strong></div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Adress 1</label>
                          <div class="col-lg-8">
                            <input type="text" value="" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Adress 2</label>
                          <div class="col-lg-8">
                            <input type="text" value="" class="form-control">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-8 col-lg-offset-4">
                            <div class="row">
                              <div class="form-group__inner col-lg-4 has-error has-feedback">
                                <input type="text" value="" placeholder="City" class="form-control"><span class="help-block help-blok__message">Error Error Error Error Error Error Error Error!!!!</span>
                              </div>
                              <div class="form-group__inner col-lg-4">
                                <input type="text" value="" placeholder="Post Code" class="form-control">
                              </div>
                              <div class="form-group__inner col-lg-4">
                                <input type="text" value="" placeholder="Country" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-4 col-lg-8">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Use same address as contact details
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="btn-group_horizontal btn-group_right">
                        <button type="button" ng-click="joinCompany4()" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="joinCompany3()" class="btn btn-primary">Save</button>
                      </div>
                    </form>
                  </div>
                  <div id="tab2" role="tabpanel" class="tab-pane fade">
                    <form action="" class="form-horizontal">
                      <div class="account-edit__form-wr">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group form-group-message has-form-group-success">
                              <label class="control-label col-lg-5">Mobile Phone</label>
                              <div class="col-lg-7 phone-input-wr">
                                <input type="text" value="e.g. +1 702 123 4567" class="form-control"><span class="help-block help-blok__message"><i class="icon i-success validation-icon validation-icon"></i>The company was not found.</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 phone-btn-wr">
                            <button type="button" ng-click="sendTheCode2()" class="btn btn-primary btn-block">send the code to that number</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="tab3" role="tabpanel" class="tab-pane fade">
                    <form action="" class="form-horizontal">
                      <div class="account-edit__form-wr">
                        <div class="form-group">
                          <label class="control-label col-lg-4">Name as Appears on Passport</label>
                          <div class="col-lg-8">
                            <input type="text" value="James Kimmel" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Passport Number</label>
                          <div class="col-lg-8">
                            <input type="text" value="PR123456" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Date of issue</label>
                          <div class="col-lg-4">
                            <div class="input-ng-datepicker clearfix"><span class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
                              <input type="text" name="birthdate" value="06/01/2015" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Date of expiration</label>
                          <div class="col-lg-4">
                            <div class="input-ng-datepicker clearfix"><span class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
                              <input type="text" name="birthdate" value="06/01/2015" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Countryof Issue</label>
                          <div class="col-lg-8">
                            <select class="form-control">
                              <option value="0">Selected</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Scan Passport</label>
                          <div class="col-lg-8">
                            <div class="form-icon-group"><span class="form-icon"><i class="icon i-download"></i></span>
                              <input type="text" placeholder="File nema" value="{{file_.name}}" ngf-select="" ngf-change="upload($files)" ngf-multiple="multiple" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-8 col-lg-offset-4">
                            <div class="document-info">
                              <div class="document-info__title">Passport</div>
                              <div class="clearfix">
                                <div class="document-info__photo"><img src="img/doc-photo.png" alt="" class="img-responsive"></div>
                                <div class="document-info__text">
                                  <div class="document-info__item">Name: <span class="document-info__value">James</span></div>
                                  <div class="document-info__item">Passport #: <span class="document-info__value">**************</span></div>
                                  <div class="document-info__item">Date Issued: <span class="document-info__value">12/11/14</span></div>
                                  <div class="document-info__item">Date Expiration: <span class="document-info__value">12/12/17</span></div>
                                  <div class="document-info__item">Country: <span class="document-info__value"> </span></div>
                                </div>
                              </div>
                              <div class="clearfix"> <span class="arrows-right pull-right"><<<<<<</span>XXXXXXXXXXXXXXXXXXXXXXXX</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-12">
                          <div class="btn-group_horizontal btn-group_right">
                            <button type="button" ng-click="joinCompany4()" class="btn btn-default">Cancel</button>
                            <button type="button" ng-click="joinCompany3()" class="btn btn-primary">Save</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="tab4" role="tabpanel" class="tab-pane fade">
                    <form action="" class="form-horizontal">
                      <div class="account-edit__form-wr">
                        <div class="form-group">
                          <label class="control-label col-lg-4">Old Password</label>
                          <div class="col-lg-8">
                            <input type="password" value="" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">New Password</label>
                          <div class="col-lg-8">
                            <input type="password" value="" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4">Confirm Password</label>
                          <div class="col-lg-8">
                            <input type="password" value="" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-12">
                          <button type="button" ng-click="sendTheCode()" class="btn btn-primary pull-right">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/profile.jade
extends ../layouts/default
block head
- pageTitle = 'Profile';
block link
   -var selected = "profile";


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container.loader-bg
    .loader-wr.loader-wr_sb.js-minHt
      .loader-2
        img(src="img/loader.svg", alt="")
    h2.page-title account settings
    .min-section.min-section__br-bg.min-section__pd
      .clearfix
        div(role='tabpanel')
          // Nav tabs
          .main-filter-block
            .tabs__in-min-section
              ul.nav.nav-tabs.nav-tub_custom(role='tablist')
                li.active(role='presentation')
                  a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') Personal Information
                li(role='presentation')
                  a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') Phone
                li(role='presentation')
                  a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') ID Information
                li(role='presentation')
                  a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') Change Password

          // Tab panes
          .tab-content
            #tab1.tab-pane.active.fade.in(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  include ../blocks/personal-information

                .btn-group_horizontal.btn-group_right
                  button.btn.btn-default(type='button', ng-click="joinCompany4()") Cancel
                  button.btn.btn-primary(type='button', ng-click="joinCompany3()") Save


            #tab2.tab-pane.fade(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  .row
                    .col-lg-6
                      .form-group.form-group-message.has-form-group-success
                        label.control-label.col-lg-5 Mobile Phone
                        .col-lg-7.phone-input-wr
                          input(type="text", value="e.g. +1 702 123 4567").form-control
                          span.help-block.help-blok__message
                            i.icon.i-success.validation-icon.validation-icon
                            | The company was not found.
                    .col-lg-6.phone-btn-wr
                      button.btn.btn-primary.btn-block(type='button', ng-click="sendTheCode2()") send the code to that number


             #tab3.tab-pane.fade(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  .form-group
                    label.control-label.col-lg-4 Name as Appears on Passport
                    .col-lg-8
                      input(type="text", value="James Kimmel").form-control
                  .form-group
                    label.control-label.col-lg-4 Passport Number
                    .col-lg-8
                      input(type="text", value="PR123456").form-control
                  .form-group
                    label.control-label.col-lg-4 Date of issue
                    .col-lg-4
                      include ../blocks/datepicer-single
                  .form-group
                    label.control-label.col-lg-4 Date of expiration
                    .col-lg-4
                      include ../blocks/datepicer-single
                  .form-group
                    label.control-label.col-lg-4 Countryof Issue
                    .col-lg-8
                      select.form-control
                        option(value="0") Selected
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                  .form-group
                    label.control-label.col-lg-4 Scan Passport
                    .col-lg-8
                      .form-icon-group
                        span.form-icon: i.icon.i-download
                        input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control

                  .form-group
                    .col-lg-8.col-lg-offset-4
                      .document-info
                        .document-info__title Passport
                        .clearfix
                          .document-info__photo
                            img(src="img/doc-photo.png", alt="").img-responsive
                          .document-info__text
                            .document-info__item Name: 
                              span.document-info__value James
                            .document-info__item Passport #: 
                              span.document-info__value **************
                            .document-info__item Date Issued: 
                              span.document-info__value 12/11/14
                            .document-info__item Date Expiration: 
                              span.document-info__value 12/12/17
                            .document-info__item Country: 
                              span.document-info__value 
                        .clearfix 
                          span.arrows-right.pull-right <<<<<<
                          | XXXXXXXXXXXXXXXXXXXXXXXX


                .form-group
                  .col-lg-12
                    .btn-group_horizontal.btn-group_right
                      button.btn.btn-default(type='button', ng-click="joinCompany4()") Cancel
                      button.btn.btn-primary(type='button', ng-click="joinCompany3()") Save


            #tab4.tab-pane.fade(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  .form-group
                    label.control-label.col-lg-4 Old Password
                    .col-lg-8
                      input(type="password", value="").form-control
                  .form-group
                    label.control-label.col-lg-4 New Password
                    .col-lg-8
                      input(type="password", value="").form-control
                  .form-group
                    label.control-label.col-lg-4 Confirm Password
                    .col-lg-8
                      input(type="password", value="").form-control
                .form-group
                  .col-lg-12
                    button.btn.btn-primary.pull-right(type='button', ng-click="sendTheCode()") Update
