send-the-code-2-modal.html

<div class="modal-content">
  <form class="form-horizontal">
    <div class="modal-header">
      <h4 class="modal-title">enter the code </h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="col-sm-12"><span class="help-form-text">You should receive at +1 702 123 4567 with your confirmation code soon.</span></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label class="control-label col-sm-3">Code</label>
            <div class="col-sm-9">
              <input id="CompanyNumber" type="text" name="CompanyNumber" value="" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="btn-group_horizontal">
            <button type="button" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
      <div class="btn-group_horizontal">
        <button type="button" class="btn btn-default">Resend</button><span class="help-form-text">Plese wait 5 minutes before requesting another code.</span>
      </div>
    </div>
  </form>
</div>

templates/pages/send-the-code-2-modal.jade
.modal-content
  form.form-horizontal
    .modal-header
      h4.modal-title enter the code 
    .modal-body
      .form-group
        .col-sm-12
          span.help-form-text You should receive at +1 702 123 4567 with your confirmation code soon.
      .row
        .col-md-7
          .form-group
            label.control-label.col-sm-3 Code
            .col-sm-9
              input#CompanyNumber(type='text', name='CompanyNumber', value='').form-control
        .col-md-5
          .btn-group_horizontal
            button.btn.btn-primary(type='button') Confirm
            button.btn.btn-default(type='button') Cancel

      .btn-group_horizontal
        button.btn.btn-default(type='button') Resend
        span.help-form-text Plese wait 5 minutes before requesting another code.
