templates/pages/send-the-code-modal.jade
.modal-content
  form.form-horizontal
    .modal-header
      h4#JoinCompanyLabel.modal-title enter code 
    .modal-body
      .form-group
        label.control-label.col-sm-3 Code
        .col-sm-9
          input#CompanyNumber(type='text', name='CompanyNumber', value='').form-control
      .btn-group_horizontal.btn-group_right
        button.btn.btn-primary(type='button') Ok

send-the-code-modal.html

<div class="modal-content">
  <form class="form-horizontal">
    <div class="modal-header">
      <h4 id="JoinCompanyLabel" class="modal-title">enter code </h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label col-sm-3">Code</label>
        <div class="col-sm-9">
          <input id="CompanyNumber" type="text" name="CompanyNumber" value="" class="form-control"/>
        </div>
      </div>
      <div class="btn-group_horizontal btn-group_right">
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </form>
</div>
