templates/pages/send-money.jade
extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "send";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-companies.js')

block content
  .container
    h2.page-title Send Money
    .min-section.min-section__br-bg.min-section__pd
      p Select where you want to transfer money from and the destination you want to transfer money to:
      .step-list
        .step-list__item
          .step-list__item-number 
            i.glyphicon.glyphicon-ok
          .step-list__item-contents
            .step-list__item-label From:
            .row.item-contents__cards-wr
              .col-md-6
                section.min-section.min-section__br-bg.min-section__pd
                  .row
                    .col-sm-8
                      h3.item__title My Primary Card
                        span Primary
                    .col-sm-4.item__text_right
                      | Active
                      .user-status.user-status_new-reg
                  .item__text 5328 **** **** 0402
                  .row
                    .col-sm-5
                      .item__text Expires 14/17
                    .col-sm-7
                      .item__text.item__text_right
                        | Balance: 
                        strong USD $35,050.03

      .step-list
        .step-list__item
          .step-list__item-number.step-list__danger
            i.glyphicon.glyphicon-remove
          .step-list__item-contents
            .clearfix
              .step-list__item-label.pull-left To:
              .radio-inline__group
                .radio-inline
                  label
                    input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                    | My Cards
                .radio-inline
                  label
                    input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                    | Other Card

            .row.item-contents__cards-wr
              .col-md-6
                section.min-section.min-section__br-bg.min-section__pd
                  .row
                    .col-sm-8
                      h3.item__title Card Name
                        span Supplementary
                    .col-sm-4.item__text_right
                      | Expired
                      .user-status.user-status_error
                  .item__text 5328 **** **** 0402
                  .row
                    .col-sm-5
                      .item__text Expires 14/17
                    .col-sm-7
                      .item__text.item__text_right
                        | Balance: 
                        strong USD $50,000.05
            .row
              .col-sm-6
                section.min-section.min-section__br-bg.min-section__pd
                  .form-group
                    .item__text.text-center Please enter 16 digit card number:
                  .form-group.has-success.has-feedback
                    input(type="text", value="123421 2314 24").form-control
                    span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
            .row
              .col-sm-6
                section.min-section.min-section__br-bg.min-section__pd
                  .form-group
                    .item__text.text-center Please enter 16 digit card number:
                  .form-group.has-error.has-feedback
                    input(type="text", value="123421 2314 24").form-control
                    span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden='true')
                    span.help-block.help-blok__message
                      | The company was not found.


      .step-list
        .step-list__item
          .step-list__item-number 3
          .step-list__item-contents
            .form-inline.amount-input
              .form-group.has-error.has-feedback
                label.control-label.control-label__custom.pull-left Amount:
                .pull-left
                  input(type="number", placeholder="USD $").form-control
                  span.form-control__caption
                    span *Min: 0.00
                    span *Max: 5 000 000
                  span.help-block.help-blok__message
                    | The company was not found.

      .btn-group_horizontal
        button.btn.btn-primary.btn-disable(type='button', disabled="disabled") Transfer
        button.btn.btn-default(type='button') Cancel
    
    p.help-info
      span.help-info__item Active 
        span.user-status.user-status_new-reg
      span.help-info__item Expired 
        span.user-status.user-status_error
      span.help-info__item Verifying 
        span.user-status

send-money.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-personal-information"></i>Personal Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-mobile-phone"></i>Mobile Phone</a></li>
                      <li><a href="company-details.html"><i class="icon i-id-information"></i>Id Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>Dashboard</a></li>
            <li><a href="cards.html"><i class="icon i-cards-i"></i>Cards</a></li>
            <li class="active"><a href="send-money.html"><i class="icon i-send-i"></i>Send Money</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
            <li><a href="social.html"><i class="icon i-social-i"></i>Social</a></li>
            <li><a href="log-out.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <h2 class="page-title">Send Money</h2>
          <div class="min-section min-section__br-bg min-section__pd">
            <p>Select where you want to transfer money from and the destination you want to transfer money to:</p>
            <div class="step-list">
              <div class="step-list__item">
                <div class="step-list__item-number"> <i class="glyphicon glyphicon-ok"></i></div>
                <div class="step-list__item-contents">
                  <div class="step-list__item-label">From:</div>
                  <div class="row item-contents__cards-wr">
                    <div class="col-md-6">
                      <section class="min-section min-section__br-bg min-section__pd">
                        <div class="row">
                          <div class="col-sm-8">
                            <h3 class="item__title">My Primary Card<span>Primary</span></h3>
                          </div>
                          <div class="col-sm-4 item__text_right">Active
                            <div class="user-status user-status_new-reg"></div>
                          </div>
                        </div>
                        <div class="item__text">5328 **** **** 0402</div>
                        <div class="row">
                          <div class="col-sm-5">
                            <div class="item__text">Expires 14/17</div>
                          </div>
                          <div class="col-sm-7">
                            <div class="item__text item__text_right">Balance: <strong>USD $35,050.03</strong></div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-list">
              <div class="step-list__item">
                <div class="step-list__item-number step-list__danger"><i class="glyphicon glyphicon-remove"></i></div>
                <div class="step-list__item-contents">
                  <div class="clearfix">
                    <div class="step-list__item-label pull-left">To:</div>
                    <div class="radio-inline__group">
                      <div class="radio-inline">
                        <label>
                          <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">My Cards
                        </label>
                      </div>
                      <div class="radio-inline">
                        <label>
                          <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">Other Card
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row item-contents__cards-wr">
                    <div class="col-md-6">
                      <section class="min-section min-section__br-bg min-section__pd">
                        <div class="row">
                          <div class="col-sm-8">
                            <h3 class="item__title">Card Name<span>Supplementary</span></h3>
                          </div>
                          <div class="col-sm-4 item__text_right">Expired
                            <div class="user-status user-status_error"></div>
                          </div>
                        </div>
                        <div class="item__text">5328 **** **** 0402</div>
                        <div class="row">
                          <div class="col-sm-5">
                            <div class="item__text">Expires 14/17</div>
                          </div>
                          <div class="col-sm-7">
                            <div class="item__text item__text_right">Balance: <strong>USD $50,000.05</strong></div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <section class="min-section min-section__br-bg min-section__pd">
                        <div class="form-group">
                          <div class="item__text text-center">Please enter 16 digit card number:</div>
                        </div>
                        <div class="form-group has-success has-feedback">
                          <input type="text" value="123421 2314 24" class="form-control"><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <section class="min-section min-section__br-bg min-section__pd">
                        <div class="form-group">
                          <div class="item__text text-center">Please enter 16 digit card number:</div>
                        </div>
                        <div class="form-group has-error has-feedback">
                          <input type="text" value="123421 2314 24" class="form-control"><span aria-hidden="true" class="glyphicon glyphicon-remove form-control-feedback"></span><span class="help-block help-blok__message">The company was not found.</span>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-list">
              <div class="step-list__item">
                <div class="step-list__item-number">3</div>
                <div class="step-list__item-contents">
                  <div class="form-inline amount-input">
                    <div class="form-group has-error has-feedback">
                      <label class="control-label control-label__custom pull-left">Amount:</label>
                      <div class="pull-left">
                        <input type="number" placeholder="USD $" class="form-control"><span class="form-control__caption"><span>*Min: 0.00</span><span>*Max: 5 000 000</span></span><span class="help-block help-blok__message">The company was not found.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-group_horizontal">
              <button type="button" disabled="disabled" class="btn btn-primary btn-disable">Transfer</button>
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </div>
          <p class="help-info"><span class="help-info__item">Active <span class="user-status user-status_new-reg"></span></span><span class="help-info__item">Expired <span class="user-status user-status_error"></span></span><span class="help-info__item">Verifying <span class="user-status"></span></span></p>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>
