sign-up-4.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
    <script>
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });
      
    </script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper" class="log-out">
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="center-min-block center-lg-bl center-rel-wr__for-right-hint">
            <div class="center-min-block__body">
              <div class="loginbox">
                <div class="right-form-caption-block__wr">
                  <div class="sign-up-caption">
                    <h3 class="sign-up-caption__title">Lorem Ipsum</h3>
                    <div class="sign-up-caption__body">
                      <p>We  want to have the possibility to add some information here and have more freedom in this section, see example here: </p><a href="">http://www.pregoint.com/about-us/company-mission-values</a>
                      <ul>
                        <li>Have the possibility to add text with bullet points.</li>
                        <li>Make Bullet points with blue marker like example here.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="left-form-block__wr">
                <header class="center-min-block__header row">
                  <h2 class="center-min-block__header-title col-sm-9">
                    <div class="pull-left center-min-block__header-icon_wr"><img src="img/add-img.png" alt="" class="center-min-block__header-icon"></div><span class="center-min-block__header-title_text">connect to company</span>
                  </h2>
                  <div class="col-sm-3">
                    <div class="sign-up__step-block"><span class="step-number">Step 4</span> of 5</div>
                  </div>
                </header>
                <form action="" class="form-horizontal">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group form-group-message has-form-group-success">
                        <label class="control-label col-lg-4">Company ID:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input type="text" value="e.g. +1 702 123 4567" class="form-control">
                            <div class="input-group-btn">
                              <button type="button" ng-click="joinCompany2()" class="btn btn-default btn__search-company ngdialog-button ngdialog-button-secondary"><i class="icon i-search"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-group-message has-form-group-success">
                        <div class="col-lg-12"><span class="help-block help-blok__message"><i class="icon i-success validation-icon validation-icon"></i>Your Join Request was sent to ASDF Entertainment! </span></div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-group_horizontal btn-form-bottom"><a href="sign-up-5.html" class="btn btn-primary pull-right">Next</a>
                  </div>
                </form><a href="sign-up-3.html" class="btn btn-default pull-left">back</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/sign-up-4.jade
extends ../layouts/default
block head
- pageTitle = 'Sign up 4';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/add-img.png", alt="")
              span.center-min-block__header-title_text connect to company
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 4
                |  of 5
          form(action="").form-horizontal

            .row
              .col-lg-12
                .form-group.form-group-message.has-form-group-success
                  label.control-label.col-lg-4 Company ID:
                  .col-lg-8
                    .input-group
                      input(type="text", value="e.g. +1 702 123 4567").form-control
                      .input-group-btn
                        button.btn.btn-default.btn__search-company.ngdialog-button.ngdialog-button-secondary(type='button', ng-click="joinCompany2()")
                          i.icon.i-search

                .form-group.form-group-message.has-form-group-success
                  .col-lg-12
                    span.help-block.help-blok__message
                      i.icon.i-success.validation-icon.validation-icon
                      | Your Join Request was sent to ASDF Entertainment! 

            .btn-group_horizontal.btn-form-bottom
              //- button.btn.btn-default(type='button') Cancel
              a(href="sign-up-5.html").btn.btn-primary.pull-right Next

          a(href="sign-up-3.html").btn.btn-default.pull-left back
