sign-up-3.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
    <script>
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });
      
    </script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper" class="log-out">
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="center-min-block center-lg-bl center-rel-wr__for-right-hint">
            <div class="center-min-block__body">
              <div class="loginbox">
                <div class="right-form-caption-block__wr">
                  <div class="sign-up-caption">
                    <h3 class="sign-up-caption__title">Lorem Ipsum</h3>
                    <div class="sign-up-caption__body">
                      <p>We  want to have the possibility to add some information here and have more freedom in this section, see example here: </p><a href="">http://www.pregoint.com/about-us/company-mission-values</a>
                      <ul>
                        <li>Have the possibility to add text with bullet points.</li>
                        <li>Make Bullet points with blue marker like example here.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="left-form-block__wr">
                <header class="center-min-block__header row">
                  <h2 class="center-min-block__header-title col-sm-9">
                    <div class="pull-left center-min-block__header-icon_wr"><img src="img/id-img.png" alt="" class="center-min-block__header-icon"></div><span class="center-min-block__header-title_text">ID INformation</span>
                  </h2>
                  <div class="col-sm-3">
                    <div class="sign-up__step-block"><span class="step-number">Step 3</span> of 5</div>
                  </div>
                </header>
                <form action="" class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-lg-4">Name as Appears on Passport</label>
                    <div class="col-lg-8">
                      <input type="text" value="James Kimmel" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Passport Number</label>
                    <div class="col-lg-8">
                      <input type="text" value="PR123456" disabled class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Date of issue</label>
                    <div class="col-lg-5">
                      <div class="input-ng-datepicker clearfix"><span class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
                        <input type="text" name="birthdate" value="06/01/2015" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Date of expiration</label>
                    <div class="col-lg-5">
                      <div class="input-ng-datepicker clearfix"><span class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
                        <input type="text" name="birthdate" value="06/01/2015" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Countryof Issue</label>
                    <div class="col-lg-8">
                      <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: true, &quot;fakeDropInBody&quot;: false, &quot;useCustomScroll&quot;: false}" disabled class="form-control">
                        <option value="0">Selected</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Scan Passport</label>
                    <div class="col-lg-8">
                      <div class="form-icon-group"><span class="form-icon"><i class="icon i-download"></i></span>
                        <input type="text" placeholder="File nema" value="{{file_.name}}" ngf-select="" ngf-change="upload($files)" ngf-multiple="multiple" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-4">
                      <div class="document-info">
                        <div class="document-info__title">Passport</div>
                        <div class="clearfix">
                          <div class="document-info__photo"><img src="img/doc-photo.png" alt="" class="img-responsive"></div>
                          <div class="document-info__text">
                            <div class="document-info__item">Name: <span class="document-info__value">James</span></div>
                            <div class="document-info__item">Passport #: <span class="document-info__value">**************</span></div>
                            <div class="document-info__item">Date Issued: <span class="document-info__value">12/11/14</span></div>
                            <div class="document-info__item">Date Expiration: <span class="document-info__value">12/12/17</span></div>
                            <div class="document-info__item">Country: <span class="document-info__value"> </span></div>
                          </div>
                        </div>
                        <div class="clearfix"> <span class="arrows-right pull-right"><<<<<<</span>XXXXXXXXXXXXXXXXXXXXXXXX</div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-group_horizontal btn-form-bottom"><a href="sign-up-2.html" class="btn btn-default pull-left">back</a><a href="sign-up-4.html" class="btn btn-primary pull-right">Next</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/sign-up-3.jade
extends ../layouts/default
block head
- pageTitle = 'Sign up 3';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/id-img.png", alt="")
              span.center-min-block__header-title_text ID INformation
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 3
                |  of 5

          form(action="").form-horizontal
            .form-group
              label.control-label.col-lg-4 Name as Appears on Passport
              .col-lg-8
                input(type="text", value="James Kimmel").form-control
            .form-group
              label.control-label.col-lg-4 Passport Number
              .col-lg-8
                input(type="text", value="PR123456", disabled).form-control
            .form-group
              label.control-label.col-lg-4 Date of issue
              .col-lg-5
                include ../blocks/datepicer-single
            .form-group
              label.control-label.col-lg-4 Date of expiration
              .col-lg-5
                include ../blocks/datepicer-single
            .form-group
              label.control-label.col-lg-4 Countryof Issue
              .col-lg-8
                select.form-control(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true, "fakeDropInBody": false, "useCustomScroll": false}', disabled)
                  option(value="0") Selected
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
            .form-group
              label.control-label.col-lg-4 Scan Passport
              .col-lg-8
                .form-icon-group
                  span.form-icon: i.icon.i-download
                  input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control

            .form-group
              .col-lg-8.col-lg-offset-4
                .document-info
                  .document-info__title Passport
                  .clearfix
                    .document-info__photo
                      img(src="img/doc-photo.png", alt="").img-responsive
                    .document-info__text
                      .document-info__item Name: 
                        span.document-info__value James
                      .document-info__item Passport #: 
                        span.document-info__value **************
                      .document-info__item Date Issued: 
                        span.document-info__value 12/11/14
                      .document-info__item Date Expiration: 
                        span.document-info__value 12/12/17
                      .document-info__item Country: 
                        span.document-info__value 
                  .clearfix 
                    span.arrows-right.pull-right <<<<<<
                    | XXXXXXXXXXXXXXXXXXXXXXXX

            .btn-group_horizontal.btn-form-bottom
              a(href="sign-up-2.html").btn.btn-default.pull-left back
              a(href="sign-up-4.html").btn.btn-primary.pull-right Next
