templates/pages/sign-up-1.jade
extends ../layouts/default
block head
- pageTitle = 'Sign up 1';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body.loader-bg
        .loader-wr
          .loader-2(title='1')
            img(src="img/loader.svg", alt="")
        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/sign-1.png", alt="")
              span.center-min-block__header-title_text Personal information
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 1
                |  of 5
          form(action="").form-horizontal

            include ../blocks/personal-information

            .btn-group_horizontal.btn-group_right.btn-form-bottom
              //- button.btn.btn-default(type='button') Cancel
              a(href="sign-up-2.html").btn.btn-primary Next

sign-up-1.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
    <script>
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });
      
    </script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper" class="log-out">
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="center-min-block center-lg-bl center-rel-wr__for-right-hint">
            <div class="center-min-block__body loader-bg">
              <div class="loader-wr">
                <div title="1" class="loader-2"><img src="img/loader.svg" alt=""></div>
              </div>
              <div class="loginbox">
                <div class="right-form-caption-block__wr">
                  <div class="sign-up-caption">
                    <h3 class="sign-up-caption__title">Lorem Ipsum</h3>
                    <div class="sign-up-caption__body">
                      <p>We  want to have the possibility to add some information here and have more freedom in this section, see example here: </p><a href="">http://www.pregoint.com/about-us/company-mission-values</a>
                      <ul>
                        <li>Have the possibility to add text with bullet points.</li>
                        <li>Make Bullet points with blue marker like example here.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="left-form-block__wr">
                <header class="center-min-block__header row">
                  <h2 class="center-min-block__header-title col-sm-9">
                    <div class="pull-left center-min-block__header-icon_wr"><img src="img/sign-1.png" alt="" class="center-min-block__header-icon"></div><span class="center-min-block__header-title_text">Personal information</span>
                  </h2>
                  <div class="col-sm-3">
                    <div class="sign-up__step-block"><span class="step-number">Step 1</span> of 5</div>
                  </div>
                </header>
                <form action="" class="form-horizontal">
                  <div class="form-group">
                    <div class="col-lg-12"><strong>Personal details</strong></div>
                  </div>
                  <div class="row">
                    <label class="control-label col-lg-4">Your name</label>
                    <div class="col-lg-8">
                      <div class="row">
                        <div class="form-group__inner col-lg-6">
                          <input type="text" value="" placeholder="First name" class="form-control">
                        </div>
                        <div class="form-group__inner col-lg-6">
                          <input type="text" value="" placeholder="Last name" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="control-label col-lg-4">Date of Brith</label>
                    <div class="col-lg-8">
                      <div class="row">
                        <div class="form-group__inner col-lg-4">
                          <select selectpicker class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                        <div class="form-group__inner col-lg-4">
                          <select selectpicker class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                        <div class="form-group__inner col-lg-4 has-success has-feedback">
                          <select selectpicker class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select><span class="help-block help-blok__message">Success!!!!</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group has-success has-feedback">
                    <label class="control-label col-lg-4">Email</label>
                    <div class="col-lg-8">
                      <input type="email" value="example@mail.ru" class="form-control"><span class="help-block help-blok__message">Success!!!!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Gender</label>
                    <div class="col-lg-8">
                      <select selectpicker class="form-control">
                        <option value="0">Male</option>
                        <option value="1">Famale</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Nationality</label>
                    <div class="col-lg-8">
                      <select selectpicker class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                      </select>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="form-group">
                    <div class="col-lg-12"><strong>Contact Details</strong></div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Adress 1</label>
                    <div class="col-lg-8">
                      <input type="text" value="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Adress 2</label>
                    <div class="col-lg-8">
                      <input type="text" value="" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                      <div class="row">
                        <div class="form-group__inner col-lg-4">
                          <input type="text" value="" placeholder="City" class="form-control">
                        </div>
                        <div class="form-group__inner col-lg-4">
                          <input type="text" value="" placeholder="Post Code" class="form-control">
                        </div>
                        <div class="form-group__inner col-lg-4">
                          <input type="text" value="" placeholder="Country" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="form-group">
                    <div class="col-lg-12"><strong>Shipping Address</strong></div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Adress 1</label>
                    <div class="col-lg-8">
                      <input type="text" value="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4">Adress 2</label>
                    <div class="col-lg-8">
                      <input type="text" value="" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                      <div class="row">
                        <div class="form-group__inner col-lg-4 has-error has-feedback">
                          <input type="text" value="" placeholder="City" class="form-control"><span class="help-block help-blok__message">Error Error Error Error Error Error Error Error!!!!</span>
                        </div>
                        <div class="form-group__inner col-lg-4">
                          <input type="text" value="" placeholder="Post Code" class="form-control">
                        </div>
                        <div class="form-group__inner col-lg-4">
                          <input type="text" value="" placeholder="Country" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox">Use same address as contact details
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="btn-group_horizontal btn-group_right btn-form-bottom"><a href="sign-up-2.html" class="btn btn-primary">Next</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>
