sign-up-5.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-companies.js"></script>
    <script>
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });
      
    </script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper" class="log-out">
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="center-min-block center-lg-bl center-rel-wr__for-right-hint">
            <div class="center-min-block__body">
              <div class="loginbox">
                <div class="right-form-caption-block__wr">
                  <div class="sign-up-caption">
                    <h3 class="sign-up-caption__title">Lorem Ipsum</h3>
                    <div class="sign-up-caption__body">
                      <p>We  want to have the possibility to add some information here and have more freedom in this section, see example here: </p><a href="">http://www.pregoint.com/about-us/company-mission-values</a>
                      <ul>
                        <li>Have the possibility to add text with bullet points.</li>
                        <li>Make Bullet points with blue marker like example here.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="left-form-block__wr">
                <header class="center-min-block__header row">
                  <h2 class="center-min-block__header-title col-sm-9">
                    <div class="pull-left center-min-block__header-icon_wr"><img src="img/sign-1.png" alt="" class="center-min-block__header-icon"></div><span class="center-min-block__header-title_text">review application </span>
                  </h2>
                  <div class="col-sm-3">
                    <div class="sign-up__step-block"><span class="step-number">Step 5</span> of 5</div>
                  </div>
                </header>
                <form action="" class="form-horizontal">
                  <div class="editable-form-group js-editable-form-group inactive">
                    <div class="form-group">
                      <div class="col-lg-12"><strong>Personal details</strong>
                        <div class="btn-edit-group">
                          <button type="button" class="btn btn-sm btn-primary js-btn-data-edit">Edit &nbsp;<i class="icon i-edit-i"></i></button>
                          <div class="btn-group-editing">
                            <button type="button" class="btn btn-sm btn-primary js-btn-data-save">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">Your name:</div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="form-group__inner col-sm-6">Test</div>
                          <div class="form-group__inner col-sm-6">Test</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">Date of Brith:</div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="form-group__inner col-sm-4">1</div>
                          <div class="form-group__inner col-sm-4">2</div>
                          <div class="form-group__inner col-sm-4">3</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Email:</div>
                      <div class="col-sm-8">test@mail.ru</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Gender:</div>
                      <div class="col-sm-8">Male</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Nationality:</div>
                      <div class="col-sm-8">0</div>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="editable-form-group js-editable-form-group inactive">
                    <div class="form-group">
                      <div class="col-sm-12"><strong>Contact Details</strong>
                        <div class="btn-edit-group">
                          <button type="button" class="btn btn-sm btn-primary js-btn-data-edit">Edit &nbsp;<i class="icon i-edit-i"></i></button>
                          <div class="btn-group-editing">
                            <button type="button" class="btn btn-sm btn-primary js-btn-data-save">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">Sovetskaya str., 1/10</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">Sovetskaya str., 1/10</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="row">
                          <div class="form-group__inner col-sm-4">Grodno</div>
                          <div class="form-group__inner col-sm-4">Grodno</div>
                          <div class="form-group__inner col-sm-4">Grodno</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="editable-form-group js-editable-form-group inactive">
                    <div class="form-group">
                      <div class="col-sm-12"><strong>Shipping Address</strong>
                        <div class="btn-edit-group">
                          <button type="button" class="btn btn-sm btn-primary js-btn-data-edit">Edit &nbsp;<i class="icon i-edit-i"></i></button>
                          <div class="btn-group-editing">
                            <button type="button" class="btn btn-sm btn-primary js-btn-data-save">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">Sovetskaya str., 1/10</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">Sovetskaya str., 1/10</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="row">
                          <div class="form-group__inner col-sm-4">Grodno</div>
                          <div class="form-group__inner col-sm-4">23000</div>
                          <div class="form-group__inner col-sm-4">Belarus</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="editable-form-group js-editable-form-group inactive">
                    <div class="form-group">
                      <div class="col-sm-12"><strong>Mobile phone</strong>
                        <div class="btn-edit-group">
                          <button type="button" class="btn btn-sm btn-primary js-btn-data-edit">Edit &nbsp;<i class="icon i-edit-i"></i></button>
                          <div class="btn-group-editing">
                            <button type="button" class="btn btn-sm btn-primary js-btn-data-save">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Mobile number:</div>
                      <div class="col-sm-8">+375 029 23 2345 3245</div>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="editable-form-group js-editable-form-group inactive">
                    <div class="form-group">
                      <div class="col-sm-12"><strong>Upload documents:</strong>
                        <div class="btn-edit-group">
                          <button type="button" class="btn btn-sm btn-primary js-btn-data-edit">Edit &nbsp;<i class="icon i-edit-i"></i></button>
                          <div class="btn-group-editing">
                            <button type="button" class="btn btn-sm btn-primary js-btn-data-save">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">Name as appears on ID:</div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="form-group__inner col-sm-6">First name</div>
                          <div class="form-group__inner col-sm-6">Last name</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Official ID number:</div>
                      <div class="col-sm-8">12343245</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Country of Issue:</div>
                      <div class="col-sm-8">Test</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Upload proof of ID:</div>
                      <div class="col-sm-8">Test</div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Upload proof of address:</div>
                      <div class="col-sm-8">Test</div>
                    </div>
                  </div>
                  <hr class="hr-margin-bottom">
                  <div class="editable-form-group js-editable-form-group inactive">
                    <div class="form-group">
                      <div class="col-sm-12"><strong>Company</strong>
                        <div class="btn-edit-group">
                          <button type="button" class="btn btn-sm btn-primary js-btn-data-edit">Edit &nbsp;<i class="icon i-edit-i"></i></button>
                          <div class="btn-group-editing">
                            <button type="button" class="btn btn-sm btn-primary js-btn-data-save">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">Company name:</div>
                      <div class="col-sm-8">Test test</div>
                    </div>
                  </div>
                  <div class="btn-group_horizontal btn-group_right btn-form-bottom">
                    <button type="button" class="btn btn-default">Cancel</button><a href="sign-up-2.html" class="btn btn-primary">Next</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/sign-up-5.jade
extends ../layouts/default
block head
- pageTitle = 'Sign up 1';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/sign-1.png", alt="")
              span.center-min-block__header-title_text review application 
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 5
                |  of 5
          form(action="").form-horizontal
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-lg-12
                  strong Personal details
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .row
                .col-sm-4 Your name:
                .col-sm-8
                  .row
                    .form-group__inner.col-sm-6 Test
                    .form-group__inner.col-sm-6 Test
              .row
                .col-sm-4 Date of Brith:
                .col-sm-8
                  .row
                    .form-group__inner.col-sm-4 1
                    .form-group__inner.col-sm-4 2
                    .form-group__inner.col-sm-4 3
                  //- include ../blocks/datepicer-single
              .form-group
                .col-sm-4 Email:
                .col-sm-8 test@mail.ru
              .form-group
                .col-sm-4 Gender:
                .col-sm-8 Male
              .form-group
                .col-sm-4 Nationality:
                .col-sm-8 0

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Contact Details
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .row
                .col-sm-8.col-sm-offset-4
                  .row
                    .form-group__inner.col-sm-4 Grodno
                    .form-group__inner.col-sm-4 Grodno
                    .form-group__inner.col-sm-4 Grodno

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Shipping Address
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .row
                .col-sm-8.col-sm-offset-4
                  .row
                    .form-group__inner.col-sm-4 Grodno
                    .form-group__inner.col-sm-4 23000
                    .form-group__inner.col-sm-4 Belarus

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Mobile phone
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-4 Mobile number:
                .col-sm-8 +375 029 23 2345 3245

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Upload documents:
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .row
                .col-sm-4 Name as appears on ID:
                .col-sm-8
                  .row
                    .form-group__inner.col-sm-6 First name
                    .form-group__inner.col-sm-6 Last name

              .form-group
                .col-sm-4 Official ID number:
                .col-sm-8 12343245

              .form-group
                .col-sm-4 Country of Issue:
                .col-sm-8 Test

              .form-group
                .col-sm-4 Upload proof of ID:
                .col-sm-8 Test

              .form-group
                .col-sm-4 Upload proof of address:
                .col-sm-8 Test


            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Company
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-4 Company name:
                .col-sm-8 Test test


            .btn-group_horizontal.btn-group_right.btn-form-bottom
              button.btn.btn-default(type='button') Cancel
              a(href="sign-up-2.html").btn.btn-primary Next
