new-payout.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-payout-new.js"></script>
  </head>
  <body ng-controller="MyCtrl3" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-personal-information"></i>Personal Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-mobile-phone"></i>Mobile Phone</a></li>
                      <li><a href="company-details.html"><i class="icon i-id-information"></i>Id Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>Dashboard</a></li>
            <li><a href="cards.html"><i class="icon i-cards-i"></i>Cards</a></li>
            <li><a href="send-money.html"><i class="icon i-send-i"></i>Send Money</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
            <li><a href="social.html"><i class="icon i-social-i"></i>Social</a></li>
            <li><a href="log-out.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="page-title">New Payout</h2>
            </div>
            <div class="col-md-6">
              <div class="btn-group_horizontal btn-group_right">
                <button type="button" data-toggle="modal" data-target="#inviteNewPayout" class="btn btn-primary">New Payout</button>
              </div>
            </div>
          </div>
          <div class="min-section min-section__br-bg min-section__pd">
            <div class="main-filter-block">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="control-label col-lg-3">Reference:</label>
                      <div class="col-lg-9">
                        <input type="text" value="April 2015 Bonus Payment" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-3">Payment Run Date:</label>
                      <div class="col-lg-9">
                        <div class="datetimepickerFrom input-group date">
                          <input type="text" value="28/01/2015 - 03/02/2015" class="form-control"><span class="input-group-addon"><i class="icon i-calculator"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-lg-offset-1">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter">Members:<strong>15</strong></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter"> Total Amount:<strong> $10.374.00</strong></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="btn-group_horizontal btn-group_right upload-payout-list__wr">
                      <button type="button" class="btn btn-primary">Upload Payout List</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-md-5 min-section">
                <h4 class="min-title">All Members</h4>
                <div class="row filter-input__wr">
                  <div class="col-md-7">
                    <div class="form-group filter-input filter-input_right">
                      <input id="inputSuccess2" type="text" aria-describedby="inputSuccess2Status" placeholder="Search members" class="form-control"><span aria-hidden="true" class="icon i-search form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-5"><a href="" class="filter-input__btn"><i class="icon i-plus"></i>Add Selected</a></div>
                </div>
                <div ng-grid="gridOptions1" class="gridStyle"></div>
              </div>
              <div class="col-md-6 col-md-offset-1 min-section">
                <h4 class="min-title">Member in Payout</h4>
                <div class="row filter-input__wr">
                  <div class="col-md-7">
                    <div class="form-group filter-input filter-input_right">
                      <input id="inputSuccess2" type="text" aria-describedby="inputSuccess2Status" placeholder="Search members" class="form-control"><span aria-hidden="true" class="icon i-search form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-5"><a href="" class="filter-input__btn"><i class="icon i-trash"></i>Remove Selected</a></div>
                </div>
                <div ng-grid="gridOptions2" class="gridStyle"></div>
              </div>
            </div>
            <div class="btn-group_horizontal btn-group_right">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-primary">Approve</button><a href="payout.html" type="button" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/blocks/new-payout.jade
extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "payout";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl3";


block append js
  script(src='js/ng-payout-new.js')


block content
  .container
    .row
      .col-md-6
        h2.page-title New Payout
      .col-md-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteNewPayout')
            | New Payout
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal
          .row
            .col-lg-5
              .form-group
                label.control-label.col-lg-3 Reference:
                .col-lg-9
                  input(type="text", value="April 2015 Bonus Payment").form-control
              .form-group
                label.control-label.col-lg-3 Payment Run Date:
                .col-lg-9
                  .datetimepickerFrom.input-group.date
                    input(type="text", value="28/01/2015 - 03/02/2015").form-control
                    span.input-group-addon
                      i.icon.i-calculator
            .col-lg-3.col-lg-offset-1
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Members:
                    strong 15
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Total Amount:
                    strong  $10.374.00
            .col-lg-3
              .btn-group_horizontal.btn-group_right.upload-payout-list__wr
                button.btn.btn-primary(type='button')
                  | Upload Payout List
      .row
        .col-md-5.min-section
          h4.min-title All Members
          .row.filter-input__wr
            .col-md-7
              .form-group.filter-input.filter-input_right
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")
            .col-md-5
              a(href="").filter-input__btn
                i.icon.i-plus
                | Add Selected
          .gridStyle(ng-grid="gridOptions1")
        .col-md-6.col-md-offset-1.min-section
          h4.min-title Member in Payout
          .row.filter-input__wr
            .col-md-7
              .form-group.filter-input.filter-input_right
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")
            .col-md-5
              a(href="").filter-input__btn
                i.icon.i-trash
                | Remove Selected
          .gridStyle(ng-grid="gridOptions2")

      .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button')
            | Save
          button.btn.btn-primary(type='button')
            | Approve
          a(href="payout.html").btn.btn-default(type='button')
            | Cancel
